@import 'variables';


html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $bg-color-main;
  color: white;
}

main{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.app-title{
  text-align: center;
  border-bottom: 1px solid $border-color;
  margin-bottom: 1em;

  h6{
  }
}

.row{
  margin: 0;
}

.btn{
  border: 1px solid $border-color;
  color: $bg-color-light;
  &:hover{
    color: $bg-color-light;
    background-color: lighten($bg-color-main, 20%);
  }
}

hr{
  border-bottom: 1px solid $border-color-separation;
}

input{
  border-radius: 0;
  padding: 0;
  text-align: center;
  border: 1px solid $border-color;
  background-color: $bg-color-darker;
  color: $bg-color-light;
  display: block;
  width: auto;
  max-width: 100%;
}

.h-tools, .render, .v-tools{
  margin: 0;
  padding: 1em;
}


.h-tools{
  padding-top: 0.25em;
  height: 15vh;
  .full-domain{
    label{
      margin-left: 1em;
      margin-right: 0.5em;
    }
    input{
      width: 70px;
    }
  }
}

.main-panel{
  height: 75vh;
}


// left tools panel
.v-tools{
  height: 100%;
  padding: 1em;
  input{
    width: 30%;
  }
}

#level-list{
  height: 50%;
  overflow: auto;
  border: 1px solid $border-color;
  background-color: $bg-color-darker;
}

.level-title, .domain{
  background-color: $bg-color-main;
  border-bottom: 1px solid $border-color-separation;
  padding: 0.5em;
}
.level-title{
  margin: 0;
}

.domain{
  justify-content: space-between;
  .col{
    padding: 0.25em 0.25em;
  }
}

.domain-delete{
}

// render panel
.render{
 width: 100%;
  height: 100%;
}

#canvas{
  height: 100%;
  width: 100%;
  background-color: black;
}

//advert
#advert{
  height: 10vh;
  padding: 1em;
  .alert{
    height: 100%;
  }
}
